[build]
publish = "dist"
command = "npx vite build"

[build.environment]
NODE_VERSION = "18"

[[redirects]]
from = "/*"
to = "/blocked.html"
status = 200

[[headers]]
for = "/*"

[headers.values]
X-Robots-Tag = "noindex, nofollow, noarchive, nosnippet"
X-Frame-Options = "DENY"
X-Content-Type-Options = "nosniff"
Cache-Control = "no-cache, no-store, must-revalidate"