* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000 !important;
  color: #ff0000 !important;
  font-family: monospace !important;
  overflow: hidden;
  user-select: none !important;
}

html {
  background: #000000 !important;
}

#root {
  background: #000000 !important;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}